{% load static %}
            <!-- Footer Wrapper Start Here-->  
            <br><br><br>
            <hr>
                 <section class="footer_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <a href="/"><img src="{% static 'assets/img/logo.png' %}" style="width: 250px;"></a>
                                
                            </div>
                             
                            <div class="col-md-4 col-sm-4">
                                 
                            </div>
                            
                            <div class="col-md-4 col-sm-4">
                                <h2>Info</h2>
                                <p>You can contact or visit us during working time.</p>
                                <p><span>Tel:</span> 9876299888 | 9876599888 <br>
                                  <span> Email: </span> info@aryans.edu.in <br>
                                  </p>
                            </div>
                            
                            
                        </div>
                    </div>
                
                
                  <div class="footer_bottom">
                    <div class="container">
                        <p>Copyright © 2019 - All rights reserved.</p>
                         <a class="cd-top" href="#0"><img src="{% static 'assets/img/top_img.jpg' %}"></a>
                      </div>   
                </div>
              </section>
           <!-- Footer Wrapper End Here-->  