{% load static %}
            <!-- Footer Wrapper Start Here-->  
                 <footer class="footer_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <h2>About</h2>
                                <p>Aryans Pharmacy College will be established in the year 2019 with a clear vision of the growing pharmaceutical industry. We ensure every student to get adequate knowledge and active learning in Pharmacy.<br>


Aryans Pharmacy College is a self financed, multi disciplinary top Pharmacy college in India,due to its excellent academic delivery, state of the art infrastructure, sophisticated and ultra modern labs and workshops and effective placements. <br>

The course is approved by Pharmacy Council of India(PCI), New Delhi and the Government of Punjab. Aryans Pharmacy College is at present running D.Pharma course for all the aspirant students who want to pursue their future in the field of pharmacy and medicines. We are soon planning to add some of the relevant courses for the students to get an adequate education. Our campus mainly focuses on its infrastructure and consists of sophisticated and we'll equipped laboratories and creative workshops to ensure students of the college with guaranteed placements and an effective practical Learning experience.</p>
                            </div>
                             
                            <div class="col-md-4 col-sm-4">
                                <br>
                                 
                            </div>
                            
                            <div class="col-md-4 col-sm-4">
                                <h2>Info</h2>
                                <p>You can contact or visit us during working time.</p>
                                <p><span>Tel:</span> 9876299888 | 9876599888 <br>
                                  <span> Email: </span> info@aryans.edu.in <br>
                                  </p>
                            </div>
                            
                            
                        </div>
                    </div>
                </footer>
                
                  <div class="footer_bottom">
                    <div class="container">
                        <p>Copyright © 2019 - All rights reserved.</p>
                         <a class="cd-top" href="#0"><img src="{% static 'assets/img/top_img.jpg' %}"></a>
                      </div>   
                </div>
           <!-- Footer Wrapper End Here-->  