{% load static %}
            <!-- Footer Wrapper Start Here-->  
                 <footer class="footer_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <h2>About</h2>
                                <p>Aryans College of Pharmacy was established in the year 2007 with a clear vision of the growing pharmaceutical industry. We ensure every student to get adequate knowledge and active learning in Pharmacy. We are amongst the top ranked College of Pharmacy in the hearts of Punjab. </p>
                            </div>
                             
                            <div class="col-md-4 col-sm-4">
                                <img src="https://i.gifer.com/embedded/download/3nxY.gif">
                                 
                            </div>
                            
                            <div class="col-md-4 col-sm-4">
                                <h2>Info</h2>
                                <p>You can contact or visit us during working time.</p>
                                <p><span>Tel:</span> 0745 - 01234567 <br>
                                  <span> Email: </span> support@aryanscollegeofpharmacy.com <br>
                                  <span> Working Hours: </span> 10:00 a.m - 8:00 p.m    
                                </p>
                            </div>
                            
                            
                        </div>
                    </div>
                </footer>
                
                  <div class="footer_bottom">
                    <div class="container">
                        <p>Copyright © 2015 - AdBAzzar - All rights reserved.</p>
                         <a class="cd-top" href="#0"><img src="{% static 'assets/img/top_img.jpg' %}"></a>
                      </div>   
                </div>
           <!-- Footer Wrapper End Here-->  