{% load static %}<!--header wrapper Start Here-->
                <header class="header_wrapper">
                    <div class="header_top">
                        <div class="container">
                            <div class="row">
                                <div class="pull-left">
                                    <a href="" class="top_menu"> <i class="fa fa-phone"></i> Contact With us - 9876299888 | 876599888</a>
                                    <a href="" class="top_menu"> <i class="fa fa-inbox"></i> Email - pharmacy@aryans.edu.in</a>
                                </div>
                                <div class="pull-right">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                       <!--Navigation  Start Here-->
                              <div id="menu">
                                 <div class="container">
                                <div class="row">
                                    <div class="pull-left logo"><a href="/"><img src="{% static 'assets/img/logo.png' %}" style="width: 195px;"></a>
                                    </div>
                                      <div class="pull-right">
                                        <div id="cssmenu">
                                            <ul>
                                               <li><a href="/"><span> Home</span></a></li>
                                               <li><a href="/about-aryans-pharmacy-college/"><span>About us </span></a></li>
                                               <li><a href="/courses-at-aryans-pharmacy-college/"><span>Courses</span></a>

                                                  <ul>
                                                     <li class="has-sub"><span class="submenu-button submenu-opened"></span><a href="/dpharma-at-aryans-pharmacy-college/"><span>D. Pharma</span></a>
                                                     </li>
                                                  </ul></li>
                                               <li><a href="/syllabus-aryans-pharmacy-college/"><span>Syllabus</span></a></li>
                                               <li><a href="/scope-bpharma-dpharma-pharmacy/"><span>Scope</span></a></li>
                                               <li><a href="/labs-best-college-of-pharmacy/"><span>Labs</span></a></li>
                                               <li><a href="/placements-in-bpharma-dparma/"><span>Placements</span></a></li>
                                               <li><a href="/media-aryans-pharmacy/"><span>Media</span></a></li>
                                               <li><a href="/blog-aryans-pharmacy/"><span>Blog</span></a></li>
                                               <li><a href="/contact-us-aryans-pharmacy-college/"><span>Contact Us</span></a></li>
                                             </ul>
                                      </div>
                                     </div> 
                                </div> 
                             </div>  
                              </div>
                        <!--Navigation  End Here-->
                      </header>