{% load static %}<!--header wrapper Start Here-->
                <header class="header_wrapper">
                    <div class="header_top">
                        <div class="container">
                            <div class="row">
                                <div class="pull-left">
                                    <a href="" class="top_menu"> <i class="fa fa-phone"></i> Contact With us - 98762-99888 | 98765-99888</a>
                                    <a href="" class="top_menu"> <i class="fa fa-inbox"></i> Email - info@aryans.edu.in</a>
                                </div>
                                <div class="pull-right">
                                    <a href="https://www.facebook.com/AryansGroupChandigarh"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/AryansChd"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/user/aryanscollege"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                       <!--Navigation  Start Here-->
                              <div id="menu">
                                 <div class="container">
                                <div class="row">
                                    <div class="pull-left logo"><a href="/"><img src="{% static 'assets/img/logo.png' %}" style="width: 200px;"></a>
                                    </div>
                                      <div class="pull-right">
                                        <div id="cssmenu">
                                            <ul>
                                               <li><a style="margin-top: 50px;" href="/"><span><strong> Home</strong></span></a></li>
                                               <li><a style="margin-top: 50px;" href="/about-aryans-pharmacy-college/"><span><strong>About us </strong></span></a></li>
                                               <li><a style="margin-top: 50px;" href="/courses-at-aryans-pharmacy-college/"><span><strong>Courses</strong></span></a>
                                                <ul>
                                                     <li class="has-sub"><span class="submenu-button submenu-opened"></span></span><a href="/dpharma-at-aryans-pharmacy-college/"><span><strong>D. Pharma</strong></span></a>
                                                     </li>
                                                </ul></li>
                                               <li><a style="margin-top: 50px;" href="{% static 'assets/img/syllabus.pdf' %}"><span><strong>Syllabus</strong></span></a></li>
                                               <li><a style="margin-top: 50px;" href="/scope-bpharma-dpharma-pharmacy/"><span><strong>Scope</strong></span></a></li>
                                               <li><a style="margin-top: 50px;" href="https://blog.aryans.edu.in"><span><strong>Blog</strong></span></a></li>
                                               <li><a style="margin-top: 50px;" href="#"><span><strong>Management</strong></span></a>
                                                <ul>
                                                     <li class="has-sub"><span class="submenu-button submenu-opened"></span></span><a href="{% static 'assets/img/bog.pdf' %}"><span><strong>BOARD OF GOVERNANCE </strong></span></a>
                                                     </li>
                                                     <li class="has-sub"><span class="submenu-button submenu-opened"></span></span><a href="{% static 'assets/img/GRIEVANCE_REDRESSAL_CELL.pdf' %}"><span><strong>Grievance Redressal Cell</strong></span></a>
                                                     </li>
                                                     <li class="has-sub"><span class="submenu-button submenu-opened"></span></span><a href="{% static 'assets/img/SC_ST_COMMITTEE.pdf' %}"><span><strong>SC/ST Committee </strong></span></a>
                                                     </li>
                                                     <li class="has-sub"><span class="submenu-button submenu-opened"></span></span><a href="{% static 'assets/img/SEXUAL_HARASSMENT_COMMITTEE.pdf' %}"><span><strong>Sexual Harassment Committee </strong></span></a>
                                                     </li>
                                                </ul>
                                               </li>
                                             <li><a style="margin-top: 50px;" href="/contact"><span><strong>Contact</strong></span></a></li>

 <ul>
                                              <li><a style="margin-top: 50px;" href="/feedback"><span><strong>Feedback</strong></span></a></li>
                                                </ul>
                                             </ul>
                                      </div>
                                     </div> 
                                </div> 
                             </div>  
                              </div>
                        <!--Navigation  End Here-->
                      </header>
