{% load static %}
<!DOCTYPE html>
<html><head>
	<meta charset="utf-8" /> 
    <title>Aryans Pharmacy College | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">  
    {% load flatpage_meta_tags %}
    
    {% flatpage_meta_tags %}
       
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google font here -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
     <!-- Latest compiled and minified CSS -->
     
    <link rel='stylesheet' type='text/css' href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  
    <!--  Font Awesome CSS -->
    <link rel='stylesheet' type='text/css' href="{% static 'assets/custom/css/font-awesome.min.css' %}">
   
   	
    <!-- Important Owl stylesheet -->
    <link rel='stylesheet' type='text/css' href="{% static 'assets/owl-carousel/owl.carousel.css' %}">   
    <!--Owl Default Theme -->
    <link rel='stylesheet' type='text/css' href="{% static 'assets/owl-carousel/owl.theme.css' %}">
   	
            <!--Slider Css-->	
    <link rel="stylesheet" type="text/css" href="{% static 'assets/Slit-Slider/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/Slit-Slider/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/Slit-Slider/css/custom.css' %}" />
 
        <!--menu style-->	
    <link rel="stylesheet" href="{% static 'assets/menu/styles.css' %}">
 
 	
       <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href="{% static 'assets/custom/css/style.css' %}">    
    <link rel="shortcut icon" href="{% static "assets/img/favicon.jpg" %}" />
        
    <!-- Latest compiled and minified JavaScript -->
     <script src="{% static 'assets/custom/js/jquery-1.11.1.min.js' %}"></script>
     <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>  
     
     
       <!--Owl Default Theme -->
    <script src="{% static 'assets/owl-carousel/owl.carousel.js' %}"></script>
    
    <!-- Google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
       <!--menu style-->	
    <script src="{% static 'assets/menu/script.js' %}"></script>
	
        <!--Slider js-->	
    <script type="text/javascript" src="{% static 'assets/Slit-Slider/js/modernizr.custom.79639.js' %}"></script>
 
  
       
 </head>
<body>   
 	
    <!--main container-->
		<div id="main_container" class="main_container">
      {% block header %}
        {% include 'includes/_header.html' %}
    {% endblock %} 
    {% include 'includes/_alerts.html' %}
          {% block content-wrapper %}
            {% block content %}
            
                      <header>
                         
                         
                    
                   <!--slider_wrapper Start Here-->
                         <div class="demo-2">
                 <div id="slider" class="sl-slider-wrapper slider_wrapper">
                         
                    <div class="sl-slider">
                    
                        <div class="sl-slide"  data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner">
                            
                                <div class="bg-img bg-img-1"><div class="overly_bg"></div></div>
                                   
                                        
                              </div>
                        </div>
                        
                        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                            <div class="sl-slide-inner">
                                <div class="bg-img bg-img-2"><div class="overly_bg"></div></div>   
                                   
                                   
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    <!-- /sl-slider -->
                    <nav class="nav-arrows" id="nav-arrows">
                        <span class="nav-arrow-prev">Previous</span>
                        <span class="nav-arrow-next">Next</span>
                    </nav>
         
    
                </div><!-- /slider-wrapper -->
     
                                                 
            
            </div>
                     <!--slider_wrapper End Here--> 
                    
                </header>
            <!--header wrapper End Here--> 
            
            
            <!-- Middle Wrapper Start Here-->
           
                <!--services wrapper Start Here-->	 
                 <section class="services_wrapper">
                 	<div class="container">
                    	<div class="row" align="center">
                               
                                <div class="col-md-12 col-sm-12">
                                     <div class="service_item">
                                        <img src="{% static 'assets/img/services_img2.jpg' %}">
                                        <h2>D.Pharma</h2>
                                        <p>Diploma in Pharmacy (D.Pharma) is a short-term undergraduate full-time Diploma Course of Pharmacy at Aryans Pharmacy College that lasts for two years. D.Pharma is registered under Pharmacy Council of India, New Delhi and affiliated with PSBTE (Punjab State Board of Technical Education). It becomes easier when it comes to studying this course in India as students can consider this course right after completing 12th in science stream with the subjects like Physics, Chemistry, Biology or Mathematics. After the completion of this course, it is mandatory for every candidate to complete respective Pharmacy Council Registration to work as a Pharmacist. This programme helps the students to learn about various chemical salts, their applications, and uses in the medicines. This programme holds good value in the pharmaceutical industry.</p>
                                          <a href="https://www.aryanspharmacycollege.com/dpharma-at-aryans-college-of-pharmacy/" class="read_more">Read More</a>
                                      </div>   
                                </div>                	
                        </div>
                    </div>
                 </section>
              <!--services wrapper End Here-->  
              <!--latest Project wrapper Start Here-->   
                  <section class="latest_project_wrapper">
                      <div class="overly_bg">
                        <div class="container">
                            <div class="row">
                              <div class="three_item_carousel">
                                    <div class="project_img">
                                          <div class="image">
                                              <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects1.jpg' %}"></a>
                                            </div>
                                         </div>  
                                         
                                         <div class="project_img">
                                          <div class="image">
                                               <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects2.jpg' %}"></a>
                                            </div>
                                         </div> 
                                         
                                          <div class="project_img">
                                          <div class="image">
                                              <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects3.jpg' %}"></a>
                                            </div>
                                         </div> 
                                         
                                         
                                         <div class="project_img">
                                          <div class="image">
                                             <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects1.jpg' %}"></a>
                                            </div>
                                         </div>  
                                         
                                         <div class="project_img">
                                          <div class="image">
                                             <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects2.jpg' %}"></a>
                                            </div>
                                         </div> 
                                         
                                          <div class="project_img">
                                          <div class="image">
                                             <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects3.jpg' %}"></a>
                                            </div>
                                         </div> 
                                         
                                         
                                         <div class="project_img">
                                          <div class="image">
                                             <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects1.jpg' %}"></a>
                                            </div>
                                         </div>  
                                         
                                         <div class="project_img">
                                          <div class="image">
                                             <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects2.jpg' %}"></a>
                                            </div>
                                         </div> 
                                         
                                          <div class="project_img">
                                          <div class="image">
                                             <h3></h3>
                                               <a href="/"> <img src="{% static 'assets/img/projects3.jpg' %}"></a>
                                            </div>
                                         </div> 
                                         
                                           
                               </div>
                                
                            </div>
                        </div>
                       </div> 
                 </section>
              <!--latest Project wrapper End Here-->     
     
     
               
             
             
               
                   <!--Our Partner wrapper Start Here-->	 
               		   <section class="our_partner_wrapper">
                         <div class="container">
                            <div class="row">
                            <div class="col-md-8 col-sm-8">
                                 <h2>Make your career in pharmacy with Aryans Pharmacy College!</h2>
                                 <p></p>	
                            </div>   
                            <div class="col-md-4 col-sm-4">
                            	<blockquote>
                                	There are many of <span>Students</span>, who are very satisfied with our institute.
									Do you want to be <span>next one ?</span> 
                                </blockquote>
                            </div>
                            </div>
                        </div> 
                	 </section>
            	   <!--Our Partner wrapper End Here-->
                 <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
<style type="text/css">
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 150px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}
</style>
<script type='text/javascript'>
$(function(){
var overlay = $('<div id="overlay"></div>');
overlay.show();
overlay.appendTo(document.body);
$('.popup').show();
$('.close').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});


 

$('.x').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});
});
</script>
<div class='popup'>
<div class='cnt223'>
<h1>Admission Form</h1>
<br><br>
<form action="/action_page.php" class="form-container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>

    <label for="psw"><b>Phone</b></label>
    <input type="phone" placeholder="Enter Phone" name="psw" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="loc"><b>Location</b></label>
    <input type="text" placeholder="Enter Location" name="loc" required>

    <button type="submit" class="btn">Submit</button>
  </form>
<br/>
<br/>
<a href='' class='close'>Close</a>
</p>
</div>
</div>       
                    
            <!-- Middle Wrapper End Here-->
             
                      {% endblock %}
      {% endblock %}  
{% include 'includes/_footer.html' %}
              
              
        </div>           
    <!--main container end-->
 
  
   <!--PRE LOADER HERE-->
  <div id="pre-loader">
  		<div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
  </div> 
  
    <!-- Custom js -->
     <script src="{% static 'assets/custom/js/custom.js' %}"></script>
     
      <!--Slider js-->	
	<script type="text/javascript" src="{% static 'assets/Slit-Slider/js/jquery.ba-cond.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/Slit-Slider/js/jquery.slitslider.js' %}"></script>
    <script type="text/javascript">	
			$(function(){var n=function(){var n=$("#nav-arrows"),t=$("#nav-dots > span"),r=$("#slider").slitslider({onBeforeChange:function(n,r){t.removeClass("nav-dot-current"),t.eq(r).addClass("nav-dot-current")}}),i=function(){e()},e=function(){n.children(":last").on("click",function(){return r.next(),!1}),n.children(":first").on("click",function(){return r.previous(),!1}),t.each(function(n){$(this).on("click",function(){var i=$(this);return r.isActive()||(t.removeClass("nav-dot-current"),i.addClass("nav-dot-current")),r.jump(n+1),!1})})};return{init:i}}();n.init()});
		</script>
 
</body>
</html>