{% extends "base1.html" %}
{% load flatpage_meta_tags %}{% flatpage_meta_tags flatpage %}
{% block title %}{{ flatpage.title }}{% endblock %}



{% block content %}

<!--Page heading Start Here--> 
                      <section class="page_heading">
                          <div class="overly_bg">
                              <div class="container">
                                  <div class="row">
                                       <h2 class="heading_title">{{ flatpage.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        </section>
                      <!--Page heading End Here-->
                      <section class="about_wrapper">
                    <div class="container">
                      <div class="row">
                          <div class="col-md-12 col-sm-12" style="color: black;">
                                  {{ flatpage.content }}
                              </div>
                            </div>
                            </div>
                        </div>
                    </div>
                  </section>

{% endblock %}